<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qr.myqr">

    <uses-feature android:name="android.hardware.camera.any" />

    <!--TopOn SDK通用 必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--非中国区SDK必要权限-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!--可选权限，申请后用于防作弊功能以及有助于广告平台投放广告-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyQr"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="31">

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".page.FirstActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="${applicationId}.exchanges"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_settings"
            android:label="@string/settings"
            android:targetActivity=".page.ExchangeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".create.CreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan.ScannerResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".history.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".create.CreateResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan.ScanningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pop.PopActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=":.pop"
            android:theme="@style/OnePixTheme" />

        <activity
            android:name=".pop.SelfRenderActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=":.self"
            android:theme="@style/OnePixTheme" />

        <activity
            android:name=".page.ExchangeActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=":.pop"
            android:theme="@style/OnePixTheme" />

        <!--如果缺少以下配置，可能导致广告图片显示不出来或者广告加载没有回调-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>